{% extends "system/layout.html" %}
{% load static %}
{% block title %}Backyard{{ block.super }}{% endblock %}
{% block main %}
{% csrf_token %}
    <script src="{% static 'backyard.js' %}"></script>
    <div style="display: inline-flex;">
      <h1>Backyard</h1>
      <a class="menuIcon" style="margin-top: 8px; margin-left: 20px;" onclick="location.reload();"><svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 512 512"><path d="M463.5 224H472c13.3 0 24-10.7 24-24V72c0-9.7-5.8-18.5-14.8-22.2s-19.3-1.7-26.2 5.2L413.4 96.6c-87.6-86.5-228.7-86.2-315.8 1c-87.5 87.5-87.5 229.3 0 316.8s229.3 87.5 316.8 0c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0c-62.5 62.5-163.8 62.5-226.3 0s-62.5-163.8 0-226.3c62.2-62.2 162.7-62.5 225.3-1L327 183c-6.9 6.9-8.9 17.2-5.2 26.2s12.5 14.8 22.2 14.8H463.5z"/></svg></a>
    </div>
    <div id="message">
    {% for message in messages %}
      <p>{{ message.priority }} {{ message.message }}</p>
    {% endfor %}
    </div>
    <div id="orders">
      {% for order in orders %}
      <div class="order">
        <h2>{{ order.1 }}
        {% if order.3 != "None" and order.2|length != 0 %}
          💭
        {% endif %}</h2>
        <div class="orderMenu">
          {% for item in order.2 %}
          <input type="checkbox" onclick="check({{ item.0 }});" id="{{ item.0 }}">{{ item.1 }}
            {% if item.2 > 1 %}
            <span class="itemNumber"> × {{ item.2 }}</span>
            {% endif %}
          </input><br>
          {% empty %}
          <p>現在、このテーブルへの<br>提供待ちはありません。</p>
          {% endfor %}
          <div style="padding-top: 20px;">
            {% if order.3 != "None" and order.2|length != 0 %}
              {{ order.3 }}
            {% endif %}
          </div>
        </div>
      </div>
      {% empty %}
      <div style="color: white;">
        <h2>テーブルが登録されていません。</h2>
        <p>Settingsページよりテーブルを登録してください。</p>
      </div>
      {% endfor %}
    </div>
{% endblock %}