{% extends "system/layout.html" %}
{% load static %}
{% block title %}Shift{{ block.super }}{% endblock %}
{% block main %}
    <h1>Shift</h1>
    <div id="message">
    {% for message in messages %}
      <p>{{ message.priority }} {{ message.message }}</p>
    {% endfor %}
    </div>
    <h2 class="shiftTitle">現在のシフト</h2>
    <table border="1">
      <tr>
        <th class="tableCell">Name</th>
        <th class="tableCell">Work</th>
        <th class="tableCell">Start</th>
        <th class="tableCell">Finish</th>
      </tr>
    {% for shift in now_shift %}
      <tr>
      {% for member in members %}
        {% if member.id == shift.member_id %}
          <td class="tableCell">{{ member.name }}</td>
          <td class="tableCell">
          {% if member.work == True %}
            勤務中
          {% else %}
            退勤中
          {% endif %}
          </td>
        {% endif %}
      {% endfor %}
        <td class="tableCell">{{ shift.start }}</td>
        <td class="tableCell">{{ shift.finish }}</td>
      </tr>
    {% empty %}
      <tr>
        <td class="tableCell" colspan="4">現在のシフトはありません。</td>
      </tr>
    {% endfor %}
    </table>
    <h2 class="shiftTitle">以後のシフト</h2>
    <table border="1">
      <tr>
        <th class="tableCell">Name</th>
        <th class="tableCell">Work</th>
        <th class="tableCell">Start</th>
        <th class="tableCell">Finish</th>
      </tr>
    {% for shift in now_shift %}
      <tr>
      {% for member in members %}
        {% if member.id == shift.member_id %}
          <td class="tableCell">{{ member.name }}</td>
          <td class="tableCell">
          {% if member.work == True %}
            勤務中
          {% else %}
            退勤中
          {% endif %}
          </td>
        {% endif %}
      {% endfor %}
        <td class="tableCell">{{ shift.start }}</td>
        <td class="tableCell">{{ shift.finish }}</td>
      </tr>
    {% empty %}
      <tr>
        <td class="tableCell" colspan="4">現在のシフトはありません。</td>
      </tr>
    {% endfor %}
    </table>
{% endblock %}